.search-wrapper {
  position: relative;
  margin-left: 30px;
}

.header-search {
    border-radius: 20px;
    background: #5793c7;
    border: none;
    resize: none;
    padding: 10px;
    outline: none;
}

.header-search::-moz-placeholder { color: #BCD4E8; }
.header-search::-webkit-input-placeholder { color: #BCD4E8; }

.icon-search {
    position: absolute;
    top: 30%;
    left: 80%;
    color: #BCD4E8;
    cursor: pointer;
}