.main-info {
    padding: 90px 40px;
}

.main-info-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-item {
    overflow: hidden;
}

.main-item img {

}

.main-item-title {
    padding: 10px 0;
    text-align: center;
    background: #004dac;
    margin: 0 auto;
}

.main-item-title h2 {
    color: #ffffff;
    font-size: 24px;
}

.main-item-title button {
    padding: 10px;
    color: #fff;
    background-color: #e38431;
    border-color: #e38431;
    border-width: 1px;
    border-radius: 100px;
    cursor: pointer;
}

.main-left .main-item img{
    width: 571px;
    height: 375px;
    object-fit: cover;
}

.main-item {
    padding: 20px;
}

.main-right .main-item  img{
    width: 571px;
    height: 375px;
    object-fit: cover;
}